---
layout: "base.njk"
---

<section class="blog-post-page">
    <div class="container blog-post-container">
        <h1>{{ title }}</h1>
        <p class="blog-meta">
            {{ date | date: "%B %d, %Y" }} • By {{ author }}
        </p>
        <article>
            {{ content | safe }}
        </article>
    </div>
</section>